services:
    -
        class: Grano22\CodeQualityPack\ReasonRequiredInDeprecationRule
        arguments:
            - @PHPStan\PhpDocParser\Lexer\Lexer
            - @PHPStan\PhpDocParser\Parser\TypeParser
            - @PHPStan\PhpDocParser\Parser\ConstExprParser
        tags:
            - phpstan.rules.rule